* {
    margin: 10px;
    padding: 10px;
}

body {
    background-color: whitesmoke;
}

h3 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: -20px;
}

#head-roupas {
    background-color: #BB86FC;
}

#head-casa {
    background-color: #00C4B4;
}

tr {
    font-size: 20px;
    background-color: #424250;
    color: white;
    text-align: center;
}